<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body
    class="container font-mono flex items-center justify-center mx-auto p-4 bg-gray-950 flex flex-col"
  ></body>
</html>
