<%- include('../partials/head'), {title} %>
<div
  class="p-8 gap-2 border-solid border-2 shadow-lg text-white flex items-start justify-start flex-col"
  style="border-color: rgb(232, 191, 49)"
>
  <h1 class="text-3xl font-bold">Error</h1>
  <p><%= content %></p>
</div>
<%- include('../partials/footer') %>
